<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alivc.videochat.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 直播和播放时要用到的危险权限 -->
    <uses-permission android:name="android.permission.CAMERA" /><!--摄像头-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /><!--音频-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!--允许只读访问电话状态，包括设备的电话号码，当前的蜂窝网络信息，任何正在进行的呼叫的状态，以及在设备上注册的任何电话帐户的列表。-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--读写-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 正常权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /><!--允许访问振动器。-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!--允许应用程序访问有关网络的信息。-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /><!--允许安装和卸载文件系统用于可移动存储。-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!--允许应用程序访问精确的位置。-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /><!--允许应用程序访问有关无线网络的信息。-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /><!--允许应用程序改变无线连接状态。-->
    <uses-permission android:name="android.permission.WAKE_LOCK" /><!--保持屏幕常量-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /><!--允许应用程序修改全局音频设置。-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.alivc.videochat.demo.ui.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.alivc.videochat.demo.ui.MainActivity"
            android:screenOrientation="portrait" />

        <!-- adjustPan：当前窗口的内容将自动移动以便当前焦点从不被键盘覆盖和用户能总是看到输入内容的部分 -->
        <activity
            android:name="com.alivc.videochat.demo.ui.WatchLiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.alivc.videochat.demo.ui.LiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <service android:name="com.alibaba.sdk.service.WebSocketService" />

    </application>
</manifest>